@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  min-height: 100%;
  font-size: 14px;
  color: #444;
}


@media only screen and (min-width: 1000px) {
  html {
    display:flex; justify-content:center;
  }
  body {
    width: 80%;
  }
}

